* {
    list-style: none;
    text-decoration: none;
}

/*header*/
h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 0);
    border: 4px solid rgb(0, 0, 0);
    text-align: center;
    height: 45px;
    width: 99%;
    margin-top: 50px;
}
.sections{
    position: fixed;
    top: 0px;
    left: 400px;
}
.enlace-barra-nav {
    color: rgb(12, 4, 4);
    background-color: rgb(0, 255, 255);
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border: 1px solid rgb(0, 0, 139);
    padding: 3px;
}
.enlace-barra-nav:hover {
    color: white;
    background-color: rgb(0, 0, 139);
}
#pp-h1{
    margin-top: 0px;
}
/*body*/
body {
    background: #353333;
}

/*main*/
h2 {
    color: rgb(255, 255, 0);
    text-align: center;
    margin: 20px 250px;
    text-decoration: underline;
}

p {
    font-size: 19px;
    color: rgb(245, 245, 245);
    text-align: center;
}

h3 {
    color: rgb(0, 255, 255);
    margin: 20px 350px;
    text-align: center;
    text-decoration: underline;
}
.presentacion-tema{
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0px 0px 20px black;
    grid-gap: 45px;
}
.presentacion-tema img{
    width: 120%;
    height: 100%;
}
.presentacion-tema p{
    margin: auto 100px;
}
ul {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}
ol{
    text-align: center;
    color: #ffffff;
    font-size: 19px;
}
.listaDeOpciones {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

code {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

pre {
    background-color: rgb(21, 18, 26);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px 20px;
}

.otrasCaracteriscasTabla {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

th {
    border: 1px solid rgb(21, 18, 26);
}

td {
    border: 1px solid rgb(21, 18, 26);
    text-align: center;
}

table {
    color: rgb(0, 0, 0);
    background-color: rgb(14, 214, 214);
    font-size: 20px;
    width: 16%;
    margin-left: 42%;
}
.sections-PG{
    margin-left: 370px;
}
/*footer*/
#titulo-footer {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 255, 255);
    margin: 20px 600px;
    text-decoration: none;
}

.contactos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 255, 255);
}

.social-media {
    font-size: 19px;
    color: rgb(245, 245, 245);
    text-align: center;
    margin: 20px;
}

.social-media:hover {
    color: #0000ff;
    text-decoration: underline;
}