*{
    list-style: none;
}
/*header*/
h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 0);
    border: 4px solid rgb(0, 0, 0);
    text-align: center;
}

header {
    text-align: center;
}

.titulo {
    height: 45px;
    width: 99%;
    text-align: center;
}
#barra-nav {
    text-align: left;
    text-align: center;
}
.enlace-barra-nav {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 255);
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border: 1px solid rgb(0, 0, 139);
    padding: 3px;
}

.enlace-barra-nav:hover {
    color: white;
    background-color: rgb(0, 0, 139);
}
/*body*/
body {
    background-color: #353333;
}
/*main*/
h2 {
    color: rgb(255, 255, 0);
    text-align: center;
    margin: 20px 250px;
    text-decoration: underline;
}

p {
    font-size: 19px;
    color: rgb(245, 245, 245);
    text-align: center;
}

h3 {
    color: rgb(0, 255, 255);
    margin: 20px 350px;
    text-align: center;
    text-decoration: underline;
}

img {
    width: 170%;
    height: 99%;
    margin-right: 5%;
}
.principio {
    display: grid;
    grid-template-columns: 28% 50%;
    grid-gap: 20%;
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
}
.pricipio-img{
height: 100%;
}
.definicion {
    margin-top: 15%;
    font-family: cursive;
}
#definicionJS{
    margin-top: 25%;
    font-family: cursive;
}

ul {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.listaDeOpciones {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

code {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

pre {
    background-color: rgb(21, 18, 26);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px 20px;
}

.otrasCaracteriscasTabla {
    color: rgb(0, 0, 0);
    font-size: 18px;
}
th {
    border: 1px solid rgb(21, 18, 26);
}

td {
    border: 1px solid rgb(21, 18, 26);
    text-align: center;
}

table {
    color: rgb(0, 0, 0);
    background-color: rgb(14, 214, 214);
    font-size: 20px;
    width: 16%;
    margin-left: 42%;
}
ul{
    text-align: center;
}
/*footer*/
#titulo-footer{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 255, 255);
    margin: 20px 600px;
}
.contactos{
    text-decoration: underline;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 255, 255);
}