* {
    text-decoration: none;
}

/*header*/
h1 {
    color: #ffff00;
    height: 6vh;
    width: 100%;
    margin: 5vh 1.5vw;
}
header{
    background-color: #201f1f;
    border: 0.5vh solid rgba(26, 2, 56, 0.445);
    display: flex;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}
.sections{
    position: fixed;
}
.enlace-barra-nav {
    color: rgb(12, 4, 4);
    background-color: rgb(0, 255, 255);
    text-decoration: none;
    font-size: 2.5vh;
    border: 0.4vh solid rgb(0, 0, 139);
    padding: 1vh;
}
.enlace-barra-nav:hover {
    color: white;
    background-color: rgb(0, 0, 139);
    box-shadow: 0vh 0vh 1vh #000000;
}
#pp-h1{
    margin-top: 0vh;
    margin-bottom: 0vh;
}

/*body*/
body {
    background: #353333;
}

/*main*/
h2 {
    color: rgb(255, 255, 0);
    margin: 3vh;
    font-size: 2rem;
}
.h2-centrados{
    text-align: center;
    margin: 3vh;
}
p {
    font-size: 1.3rem;
    color: rgb(245, 245, 245);
    line-height: 1.5;
    max-width: 85%;
}

h3 {
    color: rgb(0, 255, 255);
    margin: 3vh;
    font-size: 1.5rem;
}
h4 {
    color: rgb(2, 255, 99);
    margin: 2.5vh;
    font-size: 1.5rem;
}
.presentacion-tema{
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0vh 0vh 8vh #000000;
}
.presentacion-tema p{
    margin: auto;
    padding-right: 30vh;
    font-size: 1.5rem;
}
.presentacion-tema img{
    width: 70%;
    height: 100%;
}
ul {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    padding-left: 1vw;
    list-style-position: inside;
}
ol{
    list-style-position: inside;
    padding-left: 1vw;
    color: #ffffff;
    font-size: 1.2rem;
}
li{
    margin-top: 4vh;
}
.listaDeOpciones {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

code {
    color: rgb(255, 255, 255);
    font-size: 2.5vh;
}

pre {
    background-color: rgb(21, 18, 26);
    border: 0.5vh solid rgba(26, 2, 56, 0.445);
    max-width: 85%;
    overflow-x: auto;
    white-space: pre;
}

.otrasCaracteriscasTabla {
    color: rgb(0, 0, 0);
    font-size: 3vh;
}

th {
    border: 0.3vh solid rgb(21, 18, 26);
}

td {
    border: 0.3vh solid rgb(21, 18, 26);
    text-align: center;
}

table {
    color: rgb(0, 0, 0);
    background-color: rgb(14, 214, 214);
    font-size: 4vh;
    width: 16%;
    margin-left: 42%;
}
.sections-PG{
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    margin: 3vh;
}
/*footer*/
.contactos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(0, 0, 0);
    border: 0.3vh solid rgb(0, 255, 255);
}

.social-media {
    font-size: 3vh;
    color: rgb(245, 245, 245);
    text-align: center;
    margin: 2vw;
}

.social-media:hover {
    color: #0000ff;
    text-decoration: underline;
}
.Fuentes-originales{
    color: rgb(245, 245, 245);
}
.Fuentes-originales:hover{
    color: rgb(95, 214, 214);
    box-shadow: 0vh 0vh 1vh #000000;
}