*{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
body{
    height: 100vh;
    background-color: #2B807B;
    text-align: center;
}
.centrar-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor{
    height: 30vh;
    width: 30vw;
    background-color: white;
    border: 0.3rem solid black;
    flex-wrap: wrap;
    flex-direction: column;
}
#color{
    font-size: 5rem;
    font-weight: bold;
}
button{
    cursor: pointer;
    font-size: 1.3rem;
    color: #ffffff;
    border-radius: 2rem;
    background-color: #2B807B;
    margin: 1rem;
    padding: 2vh 2vw;
    border: 0.1rem solid #008CBA;
    transition: 0.4s;
}
button:hover{
    background-color: #05455A;
}