*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
}
header{
  width: 1345px;
}
h1{
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
  font-size: 100px;
  border: 2px solid rgb(0, 0, 0);
}
.AuspiciantesImg{
  width: 14%;
  height: 20%;
}
main{
  background-color: rgb(212, 53, 53);
}
h2{
  font-size: 30px;
  color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 255, 255);
}
p{
  font-size: 23px;
  color: rgb(255, 255, 255);
}
#final-img{
  width: 100%;
  height: 50%;
}
h3{
  color: rgb(0, 255, 255);
  border: 3px solid rgb(0, 255, 255);
}
#participar{
  text-align: center;
}
a{
  color: rgb(135, 206, 235);
  margin: auto;
  font-size: 23px;
}
footer{
  background: rgb(255, 0, 0);
  margin-bottom: 20px;
}
#texto-final{
  font-size: 18px;
  border: 2px solid rgb(0, 0, 0);
}