/*header*/
h1 {
    color: black;
    background-color: yellow;
    border: 4px solid black;
}

header {
    text-align: center;
}
#barra-nav {
    text-align: left;
    text-align: center;
}
.enlace-barra-nav {
    color: black;
    background-color: yellowgreen;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border: 1px solid black;
    padding: 3px;
}

.enlace-barra-nav:hover {
    color: red;
    background-color: white;
}
.titulo {
    height: 45px;
    width: 99%;
    text-align: center;
}
/*body*/
body {
    background-color: #353333;
}
/*main*/
h2 {
    color: yellow;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}

p {
    font-size: 19px;
    color: whitesmoke;
    text-align: center;
}

h3 {
    color: aqua;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
}

img {
    width: 170%;
    height: 99%;
    margin-right: 5%;
}
.principio {
    display: grid;
    grid-template-columns: 28% 50%;
    grid-gap: 20%;
    box-shadow: 1px 1px 20px black;
}
.pricipio-img{
height: 100%;
}
.definicion {
    margin-top: 15%;
    font-family: cursive;
}
#definicionJS{
    margin-top: 25%;
    font-family: cursive;
}

ul {
    font-size: 18px;
    color: white;
}

.listaDeOpciones {
    color: white;
    text-decoration: none;
}

code {
    color: white;
    font-size: 16px;
}

pre {
    background-color: rgb(21, 18, 26);
    border: 5px solid white;
    border-radius: 20px 20px;
}

.otrasCaracteriscasTabla {
    color: black;
    font-size: 18px;
}
th {
    border: 1px solid white;
}

td {
    border: 1px solid white;
}

table {
    color: black;
    background-color: rgb(13, 204, 13);
    font-size: 20px;
    width: 16%;
    margin-left: 42%;
}
/*footer*/
#titulo-footer{
    background-color: black;
    border: 1px solid aqua;
    margin-left: 600px;
    margin-right: 600px;
}
.contactos{
    text-decoration: underline;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    border: 1px solid aqua;
}