*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
     font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Noto Serif Vithkuqi', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
padding:5px;
background-color: yellow;
color: red;
text-align: center;
border: 8px solid black;
}
footer{
    background-color: blue;
    color: white;
    padding: 10px;
  text-decoration: underline;
}
.seccion-datos{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px;
    margin: 25px;
}
h2{
    margin: 25px;
}
#imagen-datos{
    width: 100%;
    padding: 0px;
}
p{
    margin: 25px;
}
.seccion-banner{
    background-image:url("https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2023/07/accesorios-gaming-3084392.jpg?tf=3840x");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 300px;
}
.seccion-destacados{
    display: grid;
    padding: 15px;
    background-color: brown;
    color: black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.caja-destacada{
    padding: 5px;
    text-align: center;
}
a:hover{
    background-color: white;
    color: red;
    }
h3{
   color: yellow;
  border: 3px solid yellow; 
}
.seccion-datos{
  background-color: skyblue;
}