h1 {
    color:black;
    background-color: yellow;
    border: 4px solid black;
}
header {
    height: 85px;
    width: 99%;
    text-align: center;
}
body {
    background-color: skyblue;
}
h2 {
    color: black;
    background-color: yellow;
    margin-right: 800px;
    border: 5px solid black;
}
p {
    font-size: 18px;
}
.enlace-barra-nav{
    color: black;
    background-color: yellowgreen;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border: 1px solid black;
    padding: 3px;
}
.enlace-barra-nav:hover{
    color: red;
    background-color: white;
}
h3{
    color: pink;
    background-color: brown;
    border: 4px solid black;
    margin-right: 950px;
}
img{
    width: 100%;
    height: 160px;
}
.principio{
text-align: center;
display: grid;
grid-template-columns: 28% 50%;
grid-gap: 15px;
}